{erl_opts, [debug_info,
			{parse_transform, lager_transform}
		   ]}.
{deps, [
		{vmq_commons, {git, "git://github.com/erlio/vmq_commons.git"}},
		%{cowboy, {git, "https://github.com/ninenines/cowboy", {branch, "master"}}},
		{lager, {git, "https://github.com/basho/lager", {tag, "3.2.0"}}}
	   ]}.
